{% extends 'base.html' %}
{% block head %}
<title>Offers</title>
{% endblock %}
{% block main %}

<br>

<h2 style="color: #352943; text-align: center;">Amazing Offers Available</h2>
<hr style="border-width: 5px;">

<div class="card-deck">
{% for offer in offers %}
  <div class="card">
    <div class="card-block" style="padding: 2px;">
      <h4 class="card-title" style="text-align: center; color:#1a1a00;"><b>{{offer.0}}</b></h4>
      <p class="card-text" style="text-align: center;">{{offer.1}}% off on minimum order of Rs. {{offer.2}}.</p>
    </div>
    <div class="card-footer">
    {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div class="row">
      <button type="button" class="btn btn-primary" style="margin: auto; display: block;" data-toggle="modal" data-target="#editmodal{{offer.0}}"> Edit offer </button>
      <form action="{% url 'delete_offer' %}" method="GET">
       <input type="hidden" name="offer_id" value="{{offer.0}}">
      <button type="submit" class="btn btn-danger" style="margin: auto; display: block;">Delete offer</button>
      </form>
    </div>
    <div class="modal fade" id="editmodal{{offer.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edit_offer' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label  class="col-form-label" >Offer ID:</label>
            <input type="text" class="form-control" readonly name="offer_id" value="{{offer.0}}">
          </div>
          <div class="form-group">
            <label  class="col-form-label" >Percentage:</label>
            <input type="number" min="0" max="100" step="1" class="form-control" required name="percentage" value="{{offer.1}}">
          </div>
          <div class="form-group">
            <label  class="col-form-label" >Minimum bill amount:</label>
            <input type="number" min="100" step="1" class="form-control" required name="min_amt" value="{{offer.2}}">
          </div>

          
     
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Make changes</button>
        </form>
        <form action="{% url 'refreshmodal' %}" method="GET">
        <button type="submit" class="btn btn-secondary">Close</button>
        </form>

      </div>
         
    </div>
  </div>
</div>
    {% else %}
    <small class="text-muted">   </small>
    {% endif %}
    {% endif %}
    
    </div>
  </div>
  {% endfor %}
</div>
<br>
{% if request.user.is_authenticated %}
{% if request.user.is_superuser or request.user.is_staff %}
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addmodal" style="width: 80%; margin: auto; display: block;">ADD A NEW OFFER</button>
{% endif %}
{% endif %}
    <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'add_offer' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label  class="col-form-label" >Offer ID:</label>
            <input type="text" class="form-control" name="offer_id">
          </div>
          <div class="form-group">
            <label  class="col-form-label" >Percentage:</label>
            <input type="number" min="0" max="100" step="1" class="form-control" required name="percentage">
          </div>
          <div class="form-group">
            <label  class="col-form-label" >Minimum bill amount:</label>
            <input type="number" min="100" step="1" class="form-control" required name="min_amt">
          </div>     
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add offer</button>
        </form>
        <form action="{% url 'refreshmodal' %}" method="GET">
        <button type="submit" class="btn btn-secondary">Close</button>
        </form>

      </div>
         
    </div>
  </div>
</div>

{% endblock %}